.banner-wrapper {
  background: rgb(241 245 249 / var(--tw-bg-opacity, 1));
  border-radius: 22px;
  padding: 5px;
  width: 100%;
  max-width: 620px;
  cursor: pointer;
  transition: 0.25s ease;
  position: relative;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.banner-wrapper:hover {
  background: rgb(240, 243, 247);
}

.banner-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.banner-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #cfcfcf;
  object-fit: cover;
}

.banner-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.banner-title {
  color: #29774a;
  font-size: 18px;
  font-weight: 700;
}

.banner-subtitle {
  color: #9aa5b5;
  font-size: 15px;
  margin-top: 4px;
}

.banner-icon {
  color: #0e1628;
  padding: 20px;
  border-radius: 100%;
  font-size: 20px;
  justify-content: center;
}

.banner-label {
  background: #adadad;
  color: #1f1f1f;
  font-size: 10px;
  padding: 6px 10px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 5px;
  width: fit-content;
}